
 body {
     background-image: url("grassbackground.png") ;
     background-repeat: no-repeat;
     background-size: cover; 
    }

p {
    color:rgb(51, 60, 9) ; 
    }

h1 {
    color:rgb(51, 60, 9) ;
    }

a { 
    color: rgb(218, 201, 114);
    text-decoration-line: none;
    }
