
 body {
     background-color: rgb(160, 179, 98);
     background-image: url("grassbackground.png") ; 
 }

#green-font {
    color:rgb(63, 81, 13) ; 
}

a { 
    color: rgb(218, 201, 114);
    text-decoration-line: none;
}
